<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>horarios</title>
</head>

<body>
    <%- include('partials/nav_bar.ejs', {activeItem: 3}) %>
    <div class="row my-2">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <a href="https://localhost:8080/horarios/crear"><button class="btn btn-success">Crear Horarios</button></a>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>Dia</th>
                        <th>Hora</th>
                        <th class="">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% horarios.forEach((horario) => {
                    %>    
                        <tr>
                            <td>
                                <%= horario.dia %>
                            </td>

                            <td>
                                <%= horario.hora %>
                            </td>

                            <td>
                                <button
                                        class="btn btn-primary">Actualizar</button>
                                </button>
                                <button
                                        class="btn btn-danger">Eliminar</button>
                                </button>
                            </td>
                        </tr>
                   
                    <% })%>
                </tbody>
            </table>
        </div>
    </div>
</body> 
</html>